:root {
  font-size: 16px;
  line-height: 1.75;
}
.h1,
h1 {
  font-size: 48px;
  line-height: 1.1667;
}
.h2,
h2 {
  font-size: 36px;
}
.container,
.header__container{
  max-width: 990px;
}

.col-lg-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-lg-4 {
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.col-lg-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-lg-7 {
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.col-lg-10 {
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}
.offset-lg-1 {
  margin-left: 8.33333%;
}
.offset-lg-5 {
  margin-left: 41.66667%;
}
.social {
  margin-top: 0;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: auto;
  margin-left: 0;
  margin-right: 0;
}
.social__item a {
  padding-left: 9px;
  padding-right: 9px;
}
.header {
  padding: 0;
  background: white;
  color: #656565;
  border-bottom: 1px solid hsla(0, 0%, 40%, 0.2);
}
.header__logo > span {
  display: inline-block;
}
.header__logo > span:not(:last-child) {
  margin-right: 3px;
}
.header__hamburger {
  display: none;
}
.header__nav {
  position: static;
  -ms-flex-direction: row;
  flex-direction: row;
  transform: scaleY(1);
  padding: 14px 0;
  background: transparent;
  transition: initial;
  border-top: none;
}
.header__menu,
.header__nav {
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}
.header__menu {
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: auto;
}
.header__menu-item a {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 16px;
  border-bottom: none;
  display: block;
}
.header__social {
  margin-top: 0;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: auto;
  margin-left: 0;
  margin-right: 0;
}
.header__menu,
.header__social {
  max-width: none;
  padding-left: 20px;
}
.welcome {
  padding-bottom: 32px;
}
.welcome--development {
  padding-top: 120px;
  padding-bottom: 120px;
}
.welcome-development-bg {
  position: relative;
  z-index: 0;
}
.welcome-development-bg img {
  width: 50%;
  left: auto;
}
.welcome-development-bg:after {
  content: none;
}
.welcome--team {
  padding-top: 64px;
  padding-bottom: 104px;
}
.footer__top-section,
.services__item:not(:nth-child(n + 5)) {
  margin-bottom: 0;
}
.services__item:not(:nth-child(n + 4)) {
  margin-bottom: 2rem;
}
.team,
.works {
  max-width: 960px;
}
.do-best {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.steps-to-hire__item-bg {
  display: block;
}
.welcome-portfolio {
  padding-top: 7.5rem;
}
.welcome-portfolio__media {
  position: relative;
  display: block;
}
.welcome-portfolio__media img {
  position: absolute;
  top: -4.5rem;
  left: 0;
  width: 75%;
  height: auto;
}
.target__img {
  margin-top: -64px;
  margin-bottom: 64px;
}
.flow-scheme-item__outer:last-child .flow-scheme-item__inner:before {
  top: 19px;
  left: 23px;
}
.flow-scheme-item__inner {
  font-size: 16px;
  line-height: 16px;
  width: 128px;
  height: 128px;
}
.app-gallery__col button img {
  width: 15vw;
  height: 220px;
}
.features-2 {
  position: relative;
  width: 50%;
  margin-left: auto;
}
.features-2__prototype {
  position: absolute;
  display: block;
  height: 100%;
  width: auto;
  top: 0;
  bottom: 0;
  left: -50%;
}
.features-2-wrap {
  position: relative;
  z-index: 0;
}
.features-2__decore {
  display: block;
  padding-right: 16px;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.stackflow-2-wrap:after {
  display: none;
}
.stackflow-2__decore {
  right: auto;
  width: 41.66667%;
}
.team-2-carousel-nav {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.team-2-carousel-nav.next {
  left: 97%;
}
.team-2-carousel-nav.prev {
  right: 97%;
}
.team-2-wrap {
  background-image: none;
  padding-top: 24px;
  padding-bottom: 96px;
}
.team-2-carousel .slick-slide:not(.slick-active) {
  opacity: 0;
  visibility: hidden;
}
.team-2-carousel .slick-slide.slick-current > div {
  width: 480px;
}
.team-2-carousel .slick-slide.slick-current .team-2-citem__content {
  margin-top: 0;
  width: 55%;
  padding: 84px 24px 48px;
}
.team-2-carousel .slick-slide.slick-current .team-2-citem-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0;
  background-image: linear-gradient(
    180deg,
    transparent 24px,
    #93c704 0,
    #93c704 calc(100% - 24px),
    transparent calc(100% - 24px)
  );
}
/* style 2025 */
.page-container{
  width: 990px;
}
.tech-expertise__block {
  padding: 24px;
  width: 300px;
  height: 254px;
}

.expertise__text-list{
  display: block;
}
.hiring .page-container{
  padding-bottom: 18px;
}

.slider-content__left{
  margin-left: 0px;
  margin-right: 34px;
}
.slider-content__right{
  margin-left: 48px;
  margin-right: 0px;
}
.slider-content__left,
.slider-content__right  {
    order: 2;
    width: 370px;
    height: 86px;
}
.slider-content__middle {
  color: rgb(147, 199, 4);
  font-size: 56px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}
.hiring-slide {
  height: 86px;
  width: inherit;
}
